<!DOCTYPE html>
<html>
    <head>
        <title>Dashboard - Total Steam Price</title>
        <meta charset="utf-8" />
    </head>
    <body>
        <h2>Please log in</h2>
        <form action="dashboard/login/" method="POST">
            <input type="text" name="username" value="" placeholder="Username" />
            <input type="password" name="password" value="" placeholder="Password" />
            <input type="submit" value="Log in" />
        </form>
    </body>
</html>